.image-zoom-modal {
    width: 500px;
    height: 88vh;
    left: 50%;
    border: none !important;
    margin-top: 10px;
    outline: none !important;
    position: absolute;
    z-index: 10 !important;
    transform: translate(-50%, 10%);
}

.image-zoom {
    cursor: zoom-in !important;
}

.image-zoom-modal-close-icon {
    color: white;
    float: right;
    cursor: pointer;
    font-size: 2em;
}

.image-zoom-carousel {
    position: absolute !important;
    left: 50% !important;
    top: 0 !important;
    transform: translate(-50%, 0%) !important;

}